<div class="content">
    <br>
    <br>
    <br>
    <div class="information">
        <h2>
            <p>SERVICIO: LA FAVORITA</p>
            <p>NOMBRE: CARLOS SOLIS</p>
            <p>MONTO: $ 1000</p>
            <p>+ comisión: $0.40 ctvs</p>

        </h2>
    </div>
</div>
<div class="footer-main">
    <div class="footer">
        <section class="button_clean ">
            <mat-icon class="icon-left">play_circle</mat-icon> <button (click)="back()"> Cancelar </button>
        </section>
        <section class="button_next">
            <button (click)="next()"> Continuar </button><mat-icon>play_circle</mat-icon>
        </section>
    </div>
</div>