<div class="content">
    <h2>DESEA IMPRIMIR EL COMPROBANTE DE ESTA TRANSACCION? <br> Valor de la comisión: $0.40 </h2>

    <section>
        <mat-icon class="icon-side">pan_tool_alt</mat-icon>
    </section>
    <section class="options">
        <mat-icon>arrow_forward_ios <button (click)="next()"> Continuar </button> </mat-icon> <br>
        <mat-icon>arrow_forward_ios <button (click)="next()"> Retiro sin comprobante </button> </mat-icon><br>
    </section>
</div>
<div class="footer-main">
    <div class="footer">
        <section class="button_clean ">
            <mat-icon class="icon-left">play_circle</mat-icon> <button (click)="back()"> Cancelar </button>
        </section>
    </div>
</div>
