<div class="content">
    <h2>POR FAVOR, INGRESE SU CLAVE PERSONAL</h2>
    <div>
        <input class="input-pad" type="text">
    </div>
    <section>
        <mat-icon class="icon-side">dialpad</mat-icon>
    </section>

</div>
<div class="footer-main">
    <div class="footer">
        <section class="button_clean ">
            <mat-icon class="icon-left">play_circle</mat-icon> <button (click)="back()"> Cancelar </button>
        </section>
        <section class="button_next">
            <button (click)="next()"> Continuar </button><mat-icon>play_circle</mat-icon>
        </section>
    </div>
</div>