.content {
    display: flex;
    height: calc(100vh - 60px);
    padding: 1%;
    margin-left: 25%;
    position: relative;
    font-size: 20px;
}

.icon-side {
    font-size: 350px;
    overflow: visible;
    color: #FCBE18;
    position: absolute;
    top: 15%;
    left: 18%;

}

.footer {
    margin: auto;
    display: flex;
}

.button_clean {
    width: 50%;
    margin-top: auto;
    margin-left: 10%;

}

.button_next {
    width: 50%;
    margin-top: 400px;
    margin-left: 50%;


}

.footer button{
    border: none;
    background-color: #ffffff;
    font-size: 30px;
    padding: 5%;
    border-radius: 20px;
}

.footer mat-icon{
    font-size: 40px;
    overflow: visible;
    color: #FCBE18;
}

.icon-left{
    font-size: 40px;
    overflow: visible;
    color: #FCBE18;
    transform: rotate(180deg);

}

